vendor/
node_modules/

# Developement
.idea/
.phpstorm.meta.php
_ide_helper.php
public/dist/*
!public/dist/.gitkeep
public/dist/fonts/*
!public/dist/fonts/
!public/dist/fonts/.gitkeep
composer.lock

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/*
!bootstrap/cache/.gitkeep
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
