html, body {
  font-family: 'Raleway';
  font-weight: 100;
}

.footer{
  a{
    color: #636b6f;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.content {
  text-align: center;
}
